/* filepath: /Users/GK/Documents/vscode-projects/milestone-project1/styles.css */
body {
  font-family: "Lato", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.ochre-bg {
  background-color: rgba(139, 69, 19, 0.6); /* Ochre color with 80% opacity */
  color: white; /* Ensures text remains white */
  padding: 1rem; /* Adds padding */
  border-radius: 0.5rem; /* Adds rounded corners */
}
